<!DOCTYPE html>
<html>
<head>
	<title>Last Entry</title>
</head>  
<body>
    entry_ID_PK: <%= id %><br>
    entry_content: <%= content %><br>
    entry_date: <%= date %><br>
    entry_timeline: <%= timeline %><br>
    entry_acct_fk: <%= accountID %>
</body>
</html>


